.footer-nav-text::after {
    content: '';
    height: 2px;
    width: 100%;
    background: #ff7f00;
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}