.see-more:hover p {
    color: #ff7f00;
}


.slider .sliding1 {
    left: 0px;

}

.slider .no-slide1 {
    visibility: hidden;
    left: -1300px;
}

.slider .sliding2 {
    left: 0px;
}

.slider .no-slide2 {
    visibility: hidden;
    left: -1300px;
}

@media screen and (max-width: 560px) {
    .slider .sliding1 {
        left: 0px;

    }

    .slider .no-slide1 {
        display: none;
    }

    .slider .sliding2 {
        left: 0px;
    }

    .slider .no-slide2 {
        visibility: hidden;
    }
}