.see-more:hover p {
    color: #ff7f00;
}


.slider .sliding1 {
    left: 0px;

}

.slider .no-slide1 {
    left: -2000px;
    visibility: hidden;

}

.slider .sliding2 {
    left: 0px;
}

.slider .no-slide2 {
    right: -40px;
    display: none;
}