.product-slider {
    position: relative;
    overflow: hidden;
    background-color: black;
    width: 100%;
    color: #fff;
}

.destination-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}