@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Poppins:wght@100;400;600;900&family=Roboto+Mono:wght@100;400;700&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
}